.wrap {
  margin: 30px;
  width: auto;
  height: auto;
}

.title {
  height: 50px;
  display: flex;
  /* justify-content: center; */
}
.title-box {
  width: 300px;
}

.box {
  height: 300px;
}

.close-box {
  width: 300px;
  margin: 10px;
  border: 1px solid grey;
}
