.box {
  width: auto;
  height: 300px;
  display: flex;
}

.oufitBox {
  background-color: lightblue;
  margin: 30px;
  height: 800px;
  line-height: 100px;
}

.right-box {
  margin: 20px;
  background-color: beige;
  height: 600px;
  width: 200px;
  float: right;
}

#face-box {
  background-color: grey;
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
#top-box {
  margin: 20px;
  background-color: grey;
  width: 100px;
  height: 100px;
}
#bottom-box {
  margin: 20px;
  background-color: grey;
  width: 100px;
  height: 200px;
}
#shoes-box {
  margin: 20px;
  background-color: grey;
  width: 100px;
  height: 100px;
}

.left-box {
  background-color: lightseagreen;
  height: 400px;
  width: 200px;
  float: left;
}

/* #outerbox {
  } */
