.oufitBox {
  background-color: lightblue;
  width: 700px;
}
.left-box {
  margin: 100px 0px;
  float: left;
}
#outer-box > img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.right-box {
  margin: 20px;
  width: 200px;
  float: right;
}
#face-box {
  width: 120px;
  height: 130px;
}
#face-box > img {
  width: 120px;
  height: 150px;
}

#top-box {
  margin: 0px;
  width: 200px;
  height: 250px;
}
#top-box > img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

#bottom-box {
  width: 200px;
  height: auto;
}
#bottom-box > img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

#shoes-box {
  width: 200px;
  height: 150px;
}
#shoes-box > img {
  width: 200px;
  height: auto;
  object-fit: cover;
}
