.header-box {
  height: 100px;
  align-items: center;
  position: relative;
}

.title {
  margin: 0.5rem;
}
.outfit-title {
  margin-left: 200px;
}

.button {
  text-decoration: none;
  background-color: inherit;
  color: white;
  border: 1px solid white;
  border-radius: 70px;
  padding: 15px 20px;
  position: absolute;
  right: -550px;
}

.outfit-button {
  text-decoration: none;
  background-color: inherit;
  color: white;
  border: 1px solid white;
  border-radius: 70px;
  padding: 15px 20px;
  position: absolute;
  right: -470px;
}
